.main-nav {
  float:none;

  .menu__link {
    padding: 5px 0;
    position: relative;
    z-index: 1;
  }

  .menu__item {
    @include breakpoint($desktop) {
      bottom: 0;
      left: 0;
      position: relative;
    }
  }

  .menu .menu {
    @include breakpoint($desktop) {
      border: 0;
      position: absolute;
      width: auto;
      z-index: 1;
    }

    .menu__item {
      @include breakpoint($desktop) {
        border: 0;
        display: block;
      }

      .menu__link {
        @include breakpoint($desktop) {
          border-bottom-width: 1px;
          display: block;
          padding-left: 1em;
          padding-right: 1em;
          white-space: nowrap;
        }
      }

    }

    .menu__item:last-child .menu__link {
      @include breakpoint($desktop) {
        border: 0;
      }
    }
  }
}
